<h2>Header works!</h2>
<hr />
<header>
  <img
    alt="photo"
    src="assets/milo.png"
    width="90px"
    height="95px"
    loading="eager"
  />
</header>

<aside>
  <div class="container">
    <p>FullStack javascript | Angular | NodeJs | NestJs</p>
    <p>Manaus, Amazonas</p>
    <p>pipippipippip (a mudar)</p>

    <nav>
      <ul>
        <li>
          <a href="#" target="_blank" class="btn btn-primary">Donwload CV</a>
        </li>

        <li>
          <a href="#" target="_blank" class="btn btn-secondary">Linkedin</a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          alt="photo"
          src="assets/whatsapp.png"
          width="22px"
          height="24px"
          loading="eager"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5592996043218&text=Ol%C3%A1%20Lukaurea,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma Mensagem para: </strong></a
          >
          <p>whatsapp: (92)9 99999-9999</p>
        </figcaption>

        <img
          src="assets/o-email.png"
          alt="email ícone"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:zFb9o@example.com" target="_blank">
            <strong>Envie um email para: </strong></a
          >
          <p>zFb9o&#64;example.com</p>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
