<h2>Header works!</h2>
<hr />
<header>
  <img
    alt="photo"
    src="assets/milo.png"
    width="300px"
    height="350px"
    loading="eager"
  />
</header>

<aside>
  <div class="container">
    <p>FullStack javascript | Angular | NodeJs | NestJs</p>
    <p>Manaus, Amazonas</p>
    <p>pipippipippip</p>

    <nav>
      <ul>
        <li>
          <a href="#" target="_blank" class="btn btn-primary">Donwload CV</a>
        </li>

        <li>
          <a href="#" target="_blank" class="btn btn-secondary">Linkedin</a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          alt="photo"
          src="assets/whatsapp.svg"
          width="300px"
          height="350px"
          loading="eager"
        />

        <figcaption
          class="d-flex justify-content-center align-items-center"
          href="#"
          target="_blank"
        >
          <a href="#"><strong>Envie uma Mensagem para: </strong></a>
          <p>whatsapp: (92)9 99999-9999</p>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
